</div><!-- /.container -->
<div class="container">
<!-- footer  -->
<footer class="footer-distributed">
 
  <div class="footer-left">
      <!-- <img src="img/logo.png"> -->
    <h3><span>SamyGreens</span></h3>

    <p class="footer-links">
      <a href="/">Home</a>
      |
      <a href="/about">About</a>
     
    </p>

    <p class="footer-company-name">© 2020 SamyGreens. All rights reserved.</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
        <p>Gf- 6 MIG flats C-block <br>
          Rishi Nagar, Ludhiana, <br>
          Punjab 141001</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>8427966335, <br> 9872049211</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:samir_mal@yahoo.com ">samir_mal@yahoo.com </a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about" >
      <span><center><img src="/images/fssai.png" alt="fssai" height="90" width="140"></center></span>
      <br>Approved by Food Safety and Standard Authority of India.
</p>
    <div class="footer-icons">
      <!-- <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a> -->
      Social Media Links - <a href="https://www.instagram.com/samy_greens_microgreens/"><i class="fa fa-instagram"></i></a>
      <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a> -->
    </div>
  </div>
  <div style="color: darkgrey;" class="offset-md-8">
    Design and Development by <a href="https://www.linkedin.com/in/payal-jindal/" target="_blank" style="color: #128616;">Payal<img src="/images/linkedin.PNG" alt="" height="11px" width="11px"></a>
  </div>
</footer>

</div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>