<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel ="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' id='font-awesome-css'  href='/css/font-awesome.min52c7.css?ver=6.0.5' type='text/css' media='all' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" type="text/css">
    <style>
      .alert {
        padding: 10px;
      }
      
      .closebtn {
        margin-left: 15px;
        color:black;
        font-weight: bold;
        float: right;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .closebtn:hover {
        color: black;
      }
      </style>

  <script>
      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:3,
                    nav:false
                },
                1000:{
                    items:5,
                    nav:true,
                    loop:false
                }
            }
          });
      });
  </script>
  <style>

    </style>
    
    
  <style>
   
    
      #owl-demo .owl-item {
        margin: 3px;
      }
      #owl-demo .owl-item img {
        display: block;
      }
  </style>
</head>
  <body class="parallax">
    <center>
  <span style="color:#065722;font-size: medium;"><br>We believe in the famous adage : “You are what you eat” </span>
  </center>
  <br>

      <nav class="navbar navbar-expand-lg navbar-light   sticky-top" style="background-color: #e0eee5;">
        <a class="navbar-brand" href="/" > <span  style="font-size: 1.8em" >Samy Greens</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li>  </li>
            <li class="nav-item">
              <a href="/" class="nav-link mx-4"><span  style="font-size: 1.8em" >Home</span></a>
            </li>
            <li  class="nav-item"><a href="/about" class="nav-link mx-4"><span  style="font-size: 1.8em" >About</span></a></li>
            <li  class="nav-item"><a href="/contact" class="nav-link mx-4"><span  style="font-size: 1.8em" >Contact Us</span></a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link mx-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span  style="font-size: 1.8em" >Products</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" width="100">
                
                <div class="dropdown-item">
                  <form method="post" action="/products/category" >
                  
                    <input name="category" class="form-control hidden" value="Microgreens" style="padding: 20px 9px;font-size: 16px"></input>
                    
                    <button style="border: 0ch;font-size: 1.8em;background-color: white;"> Microgreens</button>
                </form>
                </div>


              <form method="post" action="/products/category" class="dropdown-item">
                <input name="category" class="form-control hidden" value="Edible Flowers" style="padding: 20px 9px;font-size: 16px"></input>
                <button style="border: 0ch;font-size: 1.8em;background-color: white;">Edible Flowers</button>
            </form>

            <form method="post" action="/products/category" class="dropdown-item">
              <input name="category" class="form-control hidden" value="Fresh Herbs" style="padding: 20px 9px;font-size: 16px"></input>

              <button style="border: 0ch;font-size: 1.8em;background-color: white;">Fresh Herbs</button>
          </form>


          <form method="post" action="/products/category" class="dropdown-item">
            <input name="category" class="form-control hidden" value="Rockets" style="padding: 20px 9px;font-size: 16px"></input>
            <button style="border: 0ch;font-size: 1.8em;background-color: white;">Rockets</button>
        </form>


        <form method="post" action="/products/category" class="dropdown-item">
          <input name="category" class="form-control hidden" value="Basils" style="padding: 20px 9px;font-size: 16px"></input>
          <button style="border: 0ch;font-size: 1.8em;background-color: white;">Basils</button>
      </form>


      <form method="post" action="/products/category" class="dropdown-item">
        <input name="category" class="form-control hidden" value="Baby Vegetables" style="padding: 20px 9px;font-size: 16px"></input>
        <button style="border: 0ch;font-size: 1.8em;background-color: white;">Baby Vegetables</button>
    </form>

    <form method="post" action="/products/category" class="dropdown-item">
      <input name="category" class="form-control hidden" value="Others" style="padding: 20px 9px;font-size: 16px"></input>
      <button style="border: 0ch;font-size: 1.8em;background-color: white;">Others</button>
  </form>
                
                
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/products/all"><span  style="font-size: 1.8em" >All products</span></a>
              </div>
            </li>
          </ul>
        
            <ul class="navbar-nav mr-auto" >
        <% if (user) { %>
          <li>
            <a href="/cart/checkout" class="nav-link mx-4">  <span  style="font-size: 1.8em" >My Cart (
                <% if (typeof user.cart !== "undefined") { %>
                <%= user.cart.length %>
                <% } else {%>
                0
                <% } %>
            )</span></a>
        </li>
        <li>
          <a href="/users/profile" class="nav-link mx-4"><span  style="font-size: 1.8em" > My orders </span></a>
        </li>
          <% } else {%>   
          <% } %>

        <% if (user) { %>
          <li><a href="/users/logout " class="nav-link mx-4 "> <span  style="font-size: 1.8em" >Logout</span></a></li>
          <% } else {%>
         
          <li><a href="/users/login" class="nav-link mx-4"><span  style="font-size: 1.8em" >Log in</span></a></li>
          <% } %>
          
          <% if (user && user.admin == 1) { %>
            <li><a href="/admin/products" class="nav-link mx-4"><span  style="font-size: 1.8em" >Admin Area</span></a></li>
            <% }%>
        </ul>

        
        </div>
      </nav>


        <div class="container">
          <%- messages('messages', locals) -%>
          
        
      </div><!-- /.container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





