@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semiboldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#herr_von_muellerhoffregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentowide-Normal';
    src: url('../fonts/Novecentowide-Normal.eot');
    src: url('../fonts/Novecentowide-Normald41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentowide-Normal.woff') format('woff'),
         url('../fonts/Novecentowide-Normal.ttf') format('truetype'),
         url('../fonts/Novecentowide-Normal.svg#Novecentowide-Normal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Novecentowide-Light';
    src: url('../fonts/Novecentowide-Light.eot');
    src: url('../fonts/Novecentowide-Lightd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentowide-Light.woff') format('woff'),
         url('../fonts/Novecentowide-Light.ttf') format('truetype'),
         url('../fonts/Novecentowide-Light.svg#Novecentowide-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Novecentowide-Medium';
    src: url('../fonts/Novecentowide-Medium.eot');
    src: url('../fonts/Novecentowide-Mediumd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentowide-Medium.woff') format('woff'),
         url('../fonts/Novecentowide-Medium.ttf') format('truetype'),
         url('../fonts/Novecentowide-Medium.svg#Novecentowide-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Novecentowide-Bold';
    src: url('../fonts/Novecentowide-Bold.eot');
    src: url('../fonts/Novecentowide-Boldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentowide-Bold.woff') format('woff'),
         url('../fonts/Novecentowide-Bold.ttf') format('truetype'),
         url('../fonts/Novecentowide-Bold.svg#Novecentowide-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Novecentowide-Book';
    src: url('../fonts/Novecentowide-Book.eot');
    src: url('../fonts/Novecentowide-Bookd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentowide-Book.woff') format('woff'),
         url('../fonts/Novecentowide-Book.ttf') format('truetype'),
         url('../fonts/Novecentowide-Book.svg#Novecentowide-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Colaborate-Regular';
    src: url('../fonts/Colaborate-Regular.html');
    src: url('../fonts/Colaborate-Regulard41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Colaborate-Regular-2.html') format('woff'),
         url('../fonts/Colaborate-Regular-3.html') format('truetype'),
         url('../fonts/Colaborate-Regular-4.html#Colaborate-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Colaborate-Medium';
    src: url('../fonts/Colaborate-Medium.html');
    src: url('../fonts/Colaborate-Mediumd41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Colaborate-Medium-2.html') format('woff'),
         url('../fonts/Colaborate-Medium-3.html') format('truetype'),
         url('../fonts/Colaborate-Medium-4.html#Colaborate-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Colaborate-Bold';
    src: url('../fonts/Colaborate-Bold.html');
    src: url('../fonts/Colaborate-Boldd41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Colaborate-Bold-2.html') format('woff'),
         url('../fonts/Colaborate-Bold-3.html') format('truetype'),
         url('../fonts/Colaborate-Bold-4.html#Colaborate-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Colaborate-Thin';
    src: url('../fonts/Colaborate-Thin.html');
    src: url('../fonts/Colaborate-Thind41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Colaborate-Thin-2.html') format('woff'),
         url('../fonts/Colaborate-Thin-3.html') format('truetype'),
         url('../fonts/Colaborate-Thin-4.html#Colaborate-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
Font Face Only Themes
========================================================================== */

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.eot');
    src: url('../fonts/Lobsterd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lobster.woff') format('woff'),
         url('../fonts/Lobster.ttf') format('truetype'),
         url('../fonts/Lobster.svg#Lobster') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regulard41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular.woff') format('woff'),
         url('../fonts/Oswald-Regular.ttf') format('truetype'),
         url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Lightd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light.woff') format('woff'),
         url('../fonts/Oswald-Light.ttf') format('truetype'),
         url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Boldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold.woff') format('woff'),
         url('../fonts/Oswald-Bold.ttf') format('truetype'),
         url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Lightd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light.woff') format('woff'),
         url('../fonts/Lato-Light.ttf') format('truetype'),
         url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}