.woocommerce .products .product-category > a,
.woocommerce .products .product > a{
    padding: 10px;
    border: 1px solid #f1f1f1;
    display: block;
    box-shadow: 0px 0px 5px #ccc; 
}
.woocommerce ul.products li.product.product-category a img{
    margin-bottom: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title{
    padding: 12px 15px;
}
.woocommerce .button.wc-forward,
.woocommerce .price_slider_amount .button{
    background: #69bd43;
    font-family: lato-light;
    color: #FFF;
    border-radius: 5px;
    font-weight: 300;
    text-shadow: none;
}
.woocommerce .primary-sidebar [class*="widget_"],.woocommerce .primary-sidebar [class^="widget_"]{
    margin-top: 20px;
}
.woocommerce .products .product-category h3,
.woocommerce .ww-carousel-item-wrap h3.woo-title,
.woocommerce .products .product h3{
    text-align: center;
    background: #69bd43;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    line-height: 12px;
    padding: 5px 0;
    transition: all .3s ease;
    margin-bottom: 10px !important;
}
.woocommerce .products .product-category h3 .count,
.woocommerce .products .product h3 .count{
    display: block;
    background: transparent;
    color: #fff;
}
.woocommerce .products .product-category > a:hover h3,
.woocommerce .products .product > a:hover h3{
    background: #6c6c6c;
}
/*Shop carousel*/
.ww-shopcarousel-default .ww-nav{
    margin-bottom: 10px;
}
.woocommerce .ww-carousel-item-wrap .product,
.archive-products article.product{
    padding: 10px !important;
    margin: 5px;
    border: 1px solid #f1f1f1;
    display: block;
    box-shadow: 0px 0px 5px #ccc;
    text-align: center;
}
.archive-products .related h2{
    font-family: lato-light;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
  width: 50px;
}
.woocommerce .ww-carousel-item-wrap .product .woo-image,
.archive-products .woo-image{
    position: relative;
}
.woocommerce .ww-carousel-item-wrap .product .woo-image .woo-add-to-cart,
.archive-products .woo-image .woo-add-to-cart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: auto;
}
.woocommerce .ww-carousel-item-wrap .product .woo-image .add_to_cart_button,
.archive-products .woo-image .add_to_cart_button{
    font-size: 0;
    background: #FFF;
    border: hidden;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: scale(0);
    opacity: 0;
}
.woocommerce .ww-carousel-item-wrap .product .woo-image .add_to_cart_button.added:before,
.woocommerce .ww-carousel-item-wrap .product .woo-image .add_to_cart_button:before,
.archive-products .woo-image .add_to_cart_button.added:before,
.archive-products .woo-image .add_to_cart_button:before{
    content: "\f07a";
    font-size: 16px;
    color: #69bd43;
    font-family: FontAwesome;
    position: static;
}
.woocommerce .ww-carousel-item-wrap .product .woo-image .add_to_cart_button.product_type_variable:before,
.archive-products .woo-image .add_to_cart_button.product_type_variable:before{
    content: "\f064";
}
.woocommerce .ww-carousel-item-wrap .product .wp-post-image,
.archive-products .product .wp-post-image{
    width: 100%;
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions,
.archive-products .product .woo-decriptions{
    margin-top: 10px;
    padding: 10px 0;
    background: #69bd43;
    color: #FFF;
    text-align: center;
    transition: all .3s ease;
    border-radius: 3px;
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions h3.woo-title,
.archive-products .product .woo-decriptions h3.woo-title,
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions h3.woo-title a,
.archive-products .product .woo-decriptions h3.woo-title a{
    color: #FFF !important;
    margin: 0;
    font-size: 16px;
    font-family: lato-light;
    background: transparent;
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions .star-rating:before{
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions .star-rating span:before{
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions .star-rating,
.archive-products .product .woo-decriptions .star-rating{
    display: block;
    height: 1.2em;
}
.woocommerce .ww-carousel-item-wrap .woo-category{
    padding: 10px 0;
}
.woocommerce .ww-carousel-item-wrap .woo-rating .star-rating,
.archive-products .product .woo-decriptions .woo-rating .star-rating{
    margin: 0 auto;
    float: none;
}
.archive-products ul.products li.product .price{
    margin-bottom: 0;
}
.woocommerce .single_variation_wrap .single_variation{
    margin-bottom: 20px;
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions .woo-price,
.single_variation .price,
.archive-products .product .woo-decriptions .price{
    margin: 5px;
    display: block;
}
.woocommerce .ww-carousel-item-wrap .product ins,
.archive-products ul.products li.product .price ins,
.woocommerce ins  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
}
.woocommerce .ww-carousel-item-wrap .product .woo-decriptions .amount,
.archive-products .product .woo-decriptions .amount{
    color: #FFF;
    font-size: 16px;
    font-family: lato-light;
    background: transparent;
}
.woocommerce .ww-carousel-item-wrap .product:hover .woo-decriptions,
.archive-products .product:hover .woo-decriptions{
    background: #6c6c6c;
}
.woocommerce .ww-carousel-item-wrap .product:hover .add_to_cart_button,
.archive-products .product:hover .add_to_cart_button{
    transform: scale(1);
    opacity: 1;
}
/*End Shop carousel*/
/*Single Produce*/
.product .product_title{
    font-family: lato-light;
    font-size: 24px;
}
.product .summary .product_title:after{
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 12px;
    width: 50px;
    background: #69bd43;
}
.product .summary div[itemprop="description"]{
    margin-bottom: 30px;
}
.product .summary div[itemprop="description"]:after{
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 15px;
    width: 50px;
    background: #666666;
}
.product .summary .star-rating{
    height: 1.2em;
}
.product .summary .price{
    margin: 10px 0;
}
.product .summary .price .amount{
    color: #FFF;
    background: #69bd43;
    padding:10px;
    font-family: lato-light;
    font-weight: 600;
    border-radius: 5px;
}
.woocommerce div.product form.cart .variations,
.woocommerce #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations{
    margin-bottom: 0;
}
.woocommerce button.button.alt.single_add_to_cart_button{
    background: #69bd43;
    padding: 10px;
    color: #FFF;
    position: relative;
    border: hidden;
    font-family: lato-light;
    font-weight: 300;
    font-size: 18px;
    text-shadow: none;
}
.woocommerce button.button.alt.single_add_to_cart_button:before{
    content: "\f07a";
    font-size: 18px;
    color: #FFF;
    margin-right: 20px;
    font-family: FontAwesome;  
}
.woocommerce .quantity.buttons_added{
    width: auto;
}
.woocommerce .quantity.buttons_added input{
    padding: 10px;
    position: static;
    border: 1px solid #e4e4e4;
    background: #f2f2f2;
    color: #797979;
    border-radius: 4px;
    font-family: lato-light;
    font-size: 16px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    float: none;
}
.woocommerce div.product form.variations_form.cart{
    margin-bottom: 10px;
}
.woocommerce .woo-share ul{
    display: inline-block;
    padding: 0 20px;
}
.woocommerce .woo-share ul li{
    display: inline-block;
    margin-right: 15px;
}
.woocommerce .woo-share ul li a{
    color: #8c8c8c;
}
.woocommerce .woo-share ul li a:hover,.woocommerce .woo-share ul li a i:hover{
    color: #69bd43;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 0;
}
.woocommerce div.product .woocommerce-tabs #tab-description,
.woocommerce div.product .woocommerce-tabs #tab-reviews{
    box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs #tab-description h2,
.woocommerce div.product .woocommerce-tabs #tab-reviews h2{
    font-family: lato-light;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    border-bottom: hidden;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 0;
    box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs #comments{
    padding-top: 0;
    margin: 0;
    border: hidden;
    box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    font-family: lato-light;
    font-size: 18px;
    font-weight: 300;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    border: 1px solid #dddddd;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before{
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    margin: 5px;
}
.woocommerce div.product form.cart table td,
.woocommerce #content div.product form.cart table td,
.woocommerce-page div.product form.cart table td,
.woocommerce-page #content div.product form.cart table td{
    padding: 10px;
}
.product .summary .variations select,.product .summary .variations input,
.woocommerce select,.product .summary .variations input{
    padding: 5px;
}
.product .summary .variations .label{
    color: inherit;
}
/*End Single Produce*/
/*Header Shop*/
.header-shop-wrap div[class^="col"] #container{
    display: inline-block;
    vertical-align: middle;
}
.header-shop-wrap{
    background-image: url("../images/TitleBarbg3.jpg");
    background-position: center;
    padding: 40px 0;
    margin-bottom: 20px;
}
.header-shop-wrap .page-title{
    font-family: lato-light;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0px;
}
.header-shop-wrap .woocommerce-breadcrumb{
    margin: 0;
}
.header-shop-wrap .woocommerce-breadcrumb a{
    font-family: lato-light;
    font-size: 14px;
    font-weight: 300;
}
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
        vertical-align: middle;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
        vertical-align: middle;
    }
    .col-md-height.cs-breadcrumb{
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
        vertical-align: middle;
    }
    .col-md-height.cs-breadcrumb{
        text-align: right;
    }
}
/*End Header Shop*/
/*Cart Widget*/
.widget_exp_cart_wrap.woocommerce{
    position: relative;
}
.widget_exp_cart_wrap.woocommerce .shopping_cart_dropdown{
    border: 1px solid #f1f1f1;
    color: #666666;
    display: none;
    position: absolute;
    z-index: 99;
    background: #FFF;
    padding: 5px;
    min-width: 310px;
}
.widget_exp_cart_wrap.woocommerce .shopping_cart_dropdown.active{
    display: block;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item:hover{
    background-color: #f5f4f4;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item{
    display: block !important;
    color: #666666;
    padding: 0 20px;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item.cart-total-wrap{
    padding: 10px 20px;
    margin-bottom: 5px;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item:nth-child(2n+1){
    background: #f1f1f1;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item a:hover{
    text-decoration: none;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item a img{
    margin-right: 20px;
    display: inline-block;
    max-width: 36px;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item a .cart-desc{
    display: inline-block;
    vertical-align: middle;
}
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item a .cart-desc .title,
.widget_exp_cart_wrap.woocommerce .cart_list .cart-item a .cart-desc .quantity{
    display: block;
    color: #666666;
}

/*Cart Widget*/
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table td{
    padding: 10px;
    vertical-align: middle;
}
.woocommerce-page .shop_table.cart #coupon_code{
    min-width: 175px;
}
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button, .woocommerce-page #content input.button,
.woocommerce-page #respond input#submit, .woocommerce-page a.button,
.woocommerce-page button.button, .woocommerce-page input.button{
    font-weight: 300;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before{
    height: auto;
}
.related{
    display:table;
    width: 100%;
}
.related .row {
    display:table-row;
}
.related .row > div{
    display:table-cell;
    float:none !important;
}
table.variations,table.variations *{
    border: hidden !important;
}
table.variations select{
    border: 1px solid #f1f1f1 !important;
}
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
     background: #fff;
     padding: 4px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
}