<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Purple Basils</span> <br>
</center>
    <span style="font-size: 25px;">
        Purple basil leaves have a beautiful, coppery glow and clove-like, 
slightly spicy flavor. Use them in salads or preserved in oils and 
vinegars. A pot of purple basil provides surprisingly, striking color

    </span>
</div>


<%- include('_layouts/footer') %>