<%- include ('_layouts/header') -%>
<center>




    <div>
      <i class="fa fa-map-marker" style="font-size: x-large;"></i>
        <p style="font-size: medium;">Gf- 6 MIG flats C-block
          Rishi Nagar, <br> Ludhiana, 
          Punjab 141001</p>
    </div>
<br>
    <div>
      <i  style="font-size:x-large;" class="fa fa-phone"></i>
      <p style="font-size: medium;" >8427966335, 9872049211</p>
    </div>
    <br>
    <div>
      <i style="font-size:x-large;" class="fa fa-envelope"></i>
      <p style="font-size: medium;" ><a href="mailto:samir_mal@yahoo.com ">samir_mal@yahoo.com </a></p>
      <br>
      <p style="font-size: medium;" > <b>Social Media Links -</b> </p> <a style="text-decoration: none;color: black;" href="https://www.instagram.com/samy_greens_microgreens/"   ><i style="font-size: x-large;text-decoration: none;" class="fa fa-instagram"></i></a>


    </div>


</center>
<%- include ('_layouts/footer') -%>