<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Edible Flowers</span> <br>
</center>
    <span style="font-size: 25px;">
        With their powerful and unique flavours, textures and colors, edible flowers have gained popularity as a creative and innovative ingredient for the culinary world. Flowers are added to foods to provide taste, aroma, and color. They can be part of a main dish, a salad or a dessert. They can be added as a garnish. Flowers can be incorporated into beverages as flavourings, or used to make teas or wines. They are added to spreads such as butter or fruit preserves, and to vinegar, marinades and dressings.

    </span>
</div>


<%- include('_layouts/footer') %>