<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Fresh Herbs</span> <br>
</center><span style="font-size: 25px;">
        - Oregano <br>
 - Thyme <br>
 - Sage <br>
 - Rosemary  <br>
 - Dill <br>
 - Celery <br>
    </span>
    <span style="font-size: 25px;">
 Fresh herbs tend to have a more delicate flavour then dried. It helps in garnishing also. They should be used more in the season or if available fresh. Dry herbs should be used if fresh herbs are not available.
 </span>
</div>


<%- include('_layouts/footer') %>