<%- include ('_layouts/header') -%>

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner container">
      <div class="carousel-item active">
        <img src="/images/crousel2.PNG" class="d-block w-100" alt="..." height="500" width="150" >
        <div class="carousel-caption d-none d-md-block">
			<a class="btn btn-info" href="/products/all" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Get Products</a>
          <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/cart-crousel.PNG" class="d-block w-100" alt="..." height="500" width="150" >
        <div class="carousel-caption d-none d-md-block">
          <% if (user) { %>
            <a class="btn btn-info" href="/cart/checkout" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Go to cart</a>
            <% } else {%>
            <a href="/users/login" class="btn btn-info" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Log in to go to cart</a>
            <% } %>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/last-crousel.PNG" class="d-block w-100" alt="..." height="500" width="150" >
        <div class="carousel-caption d-none d-md-block">
          <!-- <a class="btn btn-info" href="/products/all" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Get Products</a> -->
          
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
     
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only" style="color: black;">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!-- carousel end  -->

  <!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="border: 1px black;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  
  <div class="carousel-inner container">
    <div class="carousel-item active">
      <center>
      <span style="text-align: center;font-size: 34px;align-items: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Know more about basils</span> <br>
      <a href="/basils" style="text-align: center;font-size: 18px;">Click here to learn more</a>
      <br> <br>
    </center>
      <img src="/images/microgreens.jpg" class="d-block w-100" alt="..." height="450" width="130" >
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
    <div class="carousel-item">
      <center>
        <span style="font-size: 38px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Know more about Rockets</span> <br>
        <a href="/rockets" style="text-align: center;font-size: 18px;">Click here to learn more</a>
        <br> <br>
      </center>
      <img src="/images/rockets.jpg" class="d-block w-100" alt="..." height="450" width="130">
    
    </div>
    <div class="carousel-item">
      <center>
        <span style="text-align: center;font-size: 34px;align-items: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Know more about edible flowers</span> <br>
        <a href="/flowers" style="text-align: center;font-size: 18px;">Click here to learn more</a>
      </center>
      <br><br>
      <img src="/images/flowers.jpg" class="d-block w-100" alt="..." height="450" width="130" >
      <div class="carousel-caption d-none d-md-block">
        <!-- <a class="btn btn-info" href="/products/all" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Get Products</a> -->
        
      </div>
    </div>
    <div class="carousel-item">
      <center>
        <span style="text-align: center;font-size: 34px;align-items: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Know more about fresh herbs</span> <br>
        <a href="/herbs" style="text-align: center;font-size: 18px;">Click here to learn more</a>
      </center>
      <br><br>
      <img src="/images/herbs.jpg" class="d-block w-100" alt="..." height="450" width="130" >
      <div class="carousel-caption d-none d-md-block">
        <!-- <a class="btn btn-info" href="/products/all" style="background-color: #4CAF50;font-size: 16px;padding: 14px 40px;text-align: center;width: 250px;">Get Products</a> -->
        
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
   
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only" style="color: black;">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- carousel end  -->

<br>

  <!-- order fixed -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.js"></script>
  


  <!-- carousel ends -->
  <div style="text-align: center;">
  <span style="font-size: xx-large;font-family: Georgia, 'Times New Roman', Times, serif;color: #666666">Our Prestig<span style="text-decoration: underline;text-underline-position: under; -webkit-text-decoration-color: #4CAF50;">ious Busi</span>ness Partners</span>
<br>  <br>
</div>



  <div id="owl-demo">

    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner1.PNG" alt="Owl Image" width="100%" height="100">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner2.PNG" alt="Owl Image" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner3.PNG" alt="Owl Image" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner4.PNG" alt="Owl Image" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner5.PNG" alt="Owl Image" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner6.PNG" alt="Owl Image" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner7.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner8.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner9.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner10.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner11.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner12.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    <div class="owl-item grayscale" style="width: 293px;">
      <img src="/images/partner13.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
    
    <div class="owl-item grayscale" style="width: 293px;" >
      <img src="/images/partner14.PNG" alt="Owl Image"  height="100" width="100%">
    </div>
  </div>

<%- include ('_layouts/footer') -%>