<%- include ('_layouts/header') -%>
<center>  <h1>Create an account</h1></center>
<div class="container ">
<form method="post" action="/users/register">

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Name</label> -->
        <input type="text" name="name" class="form-control" placeholder="Name" style="padding: 20px 9px;font-size: 16px">
    </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Email</label> -->
        <input type="text" name="email" class="form-control" placeholder="Email" style="padding: 20px 9px;font-size: 16px">
    </div></div>

    
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Username</label> -->
        <input type="text" name="username" class="form-control" placeholder="Username" style="padding: 20px 9px;font-size: 16px">
    </div></div>

    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Password</label> -->
        <input type="password" name="password" class="form-control"  placeholder="Password" style="padding: 20px 9px;font-size: 16px">
    </div></div>
    
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4">
        <!-- <label>Confirm Password</label> -->
        <input type="password" name="password2" class="form-control"  placeholder="This should match your password." style="padding: 20px 9px;font-size: 16px">
    </div></div>
    
    <div class="row">
        <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-4" style="text-align: center;">
    <button type="submit" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;">Sign up</button>
    <br><br>
    <a href="/users/login" class="btn btn-default btn-info" style="background-color: #4CAF50;font-size: 16px;text-align: center;">Go back</a>
    </div>
</form>
</div>

<%- include ('_layouts/footer') -%>