<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Arugula / Rucola (Rockets)</span> <br>
</center>
    <span style="font-size: 25px;">
        As in other greens, arugula too is one of very low calorie vegetable. 100 g of fresh leaves hold just 25 calories. Nonetheless, it has many vital phytochemicals, anti-oxidants, vitamins, and minerals that may immensely benefit health.
			It goes well in Sandwich's with its strong flavour and pungent taste.

    </span>
</div>


<%- include('_layouts/footer') %>